.fa-play
{
	color: white;
}

.fa-volume-up
{
	color: white;
}

.fa-volume-mute
{
	color: white;
}

.fa-code
{
	color:  white;
}

#play_pause
{
	cursor: grab;
	margin-right: 10px;
	margin-left: 10px;
	text-shadow: 1px 1px 2px #000000;
}

#view_source
{
	cursor: grab;
	margin-right: 10px;
	margin-left: 10px;
	text-shadow: 1px 1px 2px #000000;
}
